PORT=4000
FRONTEND_URL=http://localhost:5173
UDUPAY_API_URL=http://localhost:5001/api/merchant/checkout-sessions
UDUPAY_PUBLIC_KEY=
UDUPAY_SECRET_KEY=
UDUPAY_PREVIEW_URL_TEMPLATE=http://localhost:5001/api/payments/checkout-sessions/{redirectToken}
UDUPAY_APP_REDIRECT_PATTERN=exp://172.20.10.2:8081/--/checkout/{redirectToken}
UDUPAY_SIMULATOR_APP_REDIRECT_PATTERN=exp://127.0.0.1:8081/--/checkout/{redirectToken}
UDUPAY_NATIVE_APP_PATTERN=bnplv1://checkout/{redirectToken}
UDUPAY_WEBHOOK_URL=http://localhost:5001/api/merchant/webhooks/payments
